{% extends 'base.html' %}
{% block content %}

<div class="table">
    {% for objeto in object_list %}
    <div class="col-xl-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href={% url detalle pk=objeto.id %}>{{objeto.nombre}}</a></h4>
            <p>{{objeto.descripcion}}</p>
        </div>
    </div>
    {% empty %}
    <div>No se encontraron datos</div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}