{% extends 'base.html' %}

{% block title %}Servicios{% endblock title %}

{% block content %}
{% load static %}


  <link rel="stylesheet" type="text/css" href="{% static 'punto_venta/servicios.css' %}">

<div class="container mt-4">
  <h2 class="mb-4 text-center">Nuestros Servicios</h2>

  <div class="row">
    {% for servicio in object_list %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ servicio.nombre }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ servicio.descripcion }}</h6>
            <p class="card-text">Precio: $ {{ servicio.precio }}</p>
            <div class="details">
              <a href="{% url 'servicio_detalle' pk=servicio.id %}" class="btn btn-primary btn-block">Ver Detalle</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="pagination justify-content-center">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; primera</a>
        <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
      {% endif %}

      <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock content %}
