{% extends 'base.html' %}

{% block title %}{{ object.nombre }}{% endblock title %}

{% block content %}
  {% load static %}

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ object.imagen.url }}" class="img-fluid rounded" alt="{{ object.nombre }}" style="max-width: 800px; max-height: 800px;">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <h2 class="mb-3">{{ object.nombre }}</h2>
            <p class="text-muted mb-3">{{ object.descripcion }}</p>
            <p><strong>Precio:</strong> ${{ object.precio }}</p>
            <p><strong>Tiempo:</strong> {{ object.tiempo }}</p>
            <!-- Agrega más detalles si es necesario -->
          </div>
        </div>
      </div>
    </div>

    <!-- Agrega el botón para volver a la página de servicios -->
    <div class="text-center mt-4">
      <a href="{% url 'servicios_tarjeta' %}" class="btn btn-secondary btn-lg">Volver a Servicios</a>
    </div>
  </div>
{% endblock content %}
