{% extends 'base.html' %}
{% block title %}Registrarse{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'punto_venta/signin.css' %}">

<div class="container-fluid">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6">
            <div class="card shadow rounded">
                <div class="card-body text-center">
                    <h2 class="mb-4">Registrarse</h2>
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <div class="form-label-top">
                                {{ form.username.label_tag }}
                            </div>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <div class="form-label-top">
                                {{ form.first_name.label_tag }}
                            </div>
                            {{ form.first_name }}
                        </div>
                        <div class="mb-3">
                            <div class="form-label-top">
                                {{ form.last_name.label_tag }}
                            </div>
                            {{ form.last_name }}
                        </div>
                        <div class="mb-3">
                            <div class="form-label-top">
                                {{ form.fecha_nacimiento.label_tag }}
                            </div>
                            {{ form.fecha_nacimiento }}
                        </div>
                        <div class="mb-3">
                            <div class="form-label-top">
                                {{ form.email.label_tag }}
                            </div>
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            <div class="form-label-top">
                                {{ form.direccion.label_tag }}
                            </div>
                            {{ form.direccion }}
                        </div>
                        <div class="mb-3">
                            <div class="form-label-top">
                                {{ form.password.label_tag }}
                            </div>
                            {{ form.password }}
                        </div>
                         <div class="mb-3">
                            <div class="form-label-top">
                                {{ form.password_confirm.label_tag }}
                            </div>
                            {{ form.password_confirm }}
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}