<!-- crear_producto.html -->
{% extends 'base.html' %}

{% block title %}Crear Producto{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">Crear Producto</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_nombre" class="form-label">Nombre:</label>
                <input type="text" name="nombre" id="id_nombre" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="id_descripcion" class="form-label">Descripción:</label>
                <textarea name="descripcion" id="id_descripcion" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="id_categoria" class="form-label">Categoría:</label>
                <input type="text" name="categoria" id="id_categoria" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="id_precio_compra" class="form-label">Precio de Compra:</label>
                <input type="number" name="precio_compra" id="id_precio_compra" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="id_precio_venta" class="form-label">Precio de Venta:</label>
                <input type="number" name="precio_venta" id="id_precio_venta" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="id_stock" class="form-label">Stock:</label>
                <input type="number" name="stock" id="id_stock" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="id_proveedor" class="form-label">Proveedor:</label>
                <select name="proveedor" id="id_proveedor" class="form-control" required>
                    <!-- Agrega opciones de proveedores -->
                    {% for proveedor in lista_proveedores %}
                        <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="id_imagen" class="form-label">Imagen:</label>
                <input type="file" name="imagen" id="id_imagen" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-plus"></i> Crear Producto
            </button>
            <a href="{% url 'productos' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Cancelar
            </a>
        </form>
    </div>
{% endblock content %}
