{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{{ title }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fecha de Nacimiento</th>
                <th>Dirección</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in object_list %}
                <tr>
                    <td>{{ cliente.username }}</td>
                    <td>{{ cliente.get_full_name }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.fecha_nacimiento }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td><a href="{% url 'cliente_detalle' pk=cliente.pk %}" class="btn btn-primary">Ver Detalles</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <div class="pagination mt-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-secondary">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}
