{% extends 'base.html' %}
<!--
    template basico que renderiza todos los objetos enviados por 
    la clase de view (ListView en este caso)
    Este renderizado sirve porque al renderizar los objetos de tabla
    los transofrma automaticamente a str.
-->
{% block content %}
{% if puede_crear %}
<form action={% url crear %}>
    <input type="submit" value="crear" />
</form>
{% endif %}
<table>
    {% for objeto in object_list %}
    <tr>
        <td>
            <a href={% url detalle pk=objeto.id %}>{{objeto}}</a>
        </td>
        {% if puede_actualizar %}
        <td>
            <form action={% url actualizar pk=objeto.id %}>
                <input type="submit" value="Actualizar" />
            </form>
        </td>
        {% endif %}
        {% if puede_borrar %}
        <td>
            <form action={% url borrar pk=objeto.id %}>
                <input type="submit" value="Borrar" />
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<div class="pagination justify-content-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; primera</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">anterior</a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">siguiente</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>

{% endblock content %}