{% extends 'base.html' %}
<!--
    template basico que renderiza el objeto enviado por 
    la clase de view (DetailView en este caso)
    Este renderizado sirve porque al renderizar el objeto de tabla
    la transofrma automaticamente a str.
-->
{% block content %}
{{object}}
{% if puede_actualizar %}
<form action={% url actualizar pk=object.id %}>
    <input type="submit" value="Borrar" />
</form>
{% endif %}
{% if puede_borrar %}
<form action={% url borrar pk=object.id %}>
    <input type="submit" value="Actualizar" />
</form>
{% endif %}
<form action={% url lista %}>
    <input type="submit" value="Volver a lista" />
</form>

{% endblock content %}
