{% extends 'base.html' %}
{% block title %}Cita{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'punto_venta/signin.css' %}">

<div class="container-fluid">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6">
            <div class="card shadow rounded">
                <div class="card-body text-center">
                    <h2 class="mb-4">Agende su hora con nosotros</h2>
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3 row">
                            <div class="col-md-12">
                                {{ form.fecha.label_tag }}
                                {{ form.fecha }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-12">
                                {{ form.hora.label_tag }}
                                {{ form.hora }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-12">
                                {{ form.servicio.label_tag }}
                                {{ form.servicio }}
                            </div>
                            <button type="submit" class="btn btn-primary">Agendar Cita</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
