<!-- detalle_factura.html -->
{% extends 'base.html' %}

{% block title %}Detalle de Factura{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">Detalle de Factura</h2>

        <p>Número de Factura: {{ object.numero_factura }}</p>
        <p>Proveedor: {{ object.proveedor }}</p>
        <p>Tipo de Pago: {{ object.tipo_de_pago }}</p>
        <!-- Agrega más campos según la estructura de tu modelo Factura -->

        <!-- Puedes mostrar los detalles de los productos asociados a la factura si es necesario -->
        <h3>Detalles de Productos:</h3>
        <ul>
            {% for detalle in facturas %}
                <li>
                    Producto: {{ detalle.producto }},
                    Cantidad: {{ detalle.cantidad }},
                    Monto Total: {{ detalle.monto_total }}
                </li>
            {% endfor %}
        </ul>

        <a href="{% url 'facturas' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Volver a la Lista
        </a>
    </div>
{% endblock content %}

