<!-- detalle.html -->
{% extends 'base.html' %}

{% block title %}Detalles de Cita{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">Detalles de Cita</h2>

        <dl class="row">
            <dt class="col-sm-3">Fecha:</dt>
            <dd class="col-sm-9">{{ cita.fecha }}</dd>

            <dt class="col-sm-3">Hora:</dt>
            <dd class="col-sm-9">{{ cita.hora }}</dd>

            <dt class="col-sm-3">Servicio:</dt>
            <dd class="col-sm-9">{{ cita.servicio.nombre }}</dd>

            <dt class="col-sm-3">Cliente:</dt>
            <dd class="col-sm-9">{{ cita.cliente.primer_nombre }} {{ cita.cliente.primer_apellido }}</dd>
        </dl>

        <a href="{% url 'citas_lista' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Volver a la Lista
        </a>
    </div>
{% endblock content %}
