{% extends 'base.html' %}
{% block content %}
<form class="form-horizontal" method="POST" action="">
{% csrf_token %}
<div class="row spacer">
    <div class="col-3">
        <label>{{form_main.cliente}}</label>
    </div>
    <div class="col-3">
        <label>{{form_main.tipo_de_pago}}</label>
    </div>
</div>

{{ formset_servicio.management_form }}
{% for form in formset_servicio %}
<div class="row form-{{formset_servicio.prefix}} spacer">
    <div class="col-3">
        <label>Servicio:{{form.servicio}}</label>
    </div>
    <div class="col-3">
        <label>Cantidad:{{form.cantidad}}</label>
    </div>
    <div class="col-3">
        <button class="btn btn-success formset-row-add">+</button>
    </div>
</div>
{% endfor %}
<div>
    <br>
    <br>
    <br>
</div>
{{ formset_producto.management_form }}
{% for form in formset_producto %}
<div class="row form-{{formset_producto.prefix}} spacer">
    <div class="col-3">
        <label>Producto:{{form.producto}}</label>
    </div>
    <div class="col-3">
        <label>Cantidad:{{form.cantidad}}</label>
    </div>
    <div class="col-3">
        <button class="btn btn-success formset-row-add">+</button>
    </div>
</div>
{% endfor %}
<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-primary">Create</button>
    </div>
</div>
</form>
{% endblock content %}

{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
    function updateElementIndex(el, form_prefix, ndx) {
        var id_regex = new RegExp('(' + form_prefix + '-\\d+)');
        var replacement = form_prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, form_prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + form_prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            }
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
              $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + form_prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-'+form_prefix+':not(:last)');
        conditionRow.find('.btn.formset-row-add')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('formset-row-add').addClass('formset-row-del')
        .html('-');
        return false;
    }
    function deleteForm(btn, form_prefix) {
        var total = parseInt($('#id_' + form_prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-'+form_prefix+'').remove();
            var forms = $('.form-'+form_prefix+'');
            $('#id_' + form_prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, form_prefix, i);
                });
            }
        }
        return false;
    }
    function formsetClass(element){
        var class_list = element.currentTarget.parentElement.parentElement.classList
        for (var i=0; i<class_list.length; i++) {
            const prefix = /^form-/g
            var cls = class_list[i]
    
            if(cls.match(prefix)){
                return cls.replace(prefix, "");
            }
        }
        return "form"
    }
    $(document).on('click', '.formset-row-add', function(element){
        var form_class = formsetClass(element);
        element.preventDefault();
        cloneMore('.form-'+form_class+':last', form_class);
        return false;
    });
    $(document).on('click', '.formset-row-del', function(element){
        var form_class = formsetClass(element);
        element.preventDefault();
        deleteForm($(this), form_class);
        return false;
    });
    
    </script>
    {% endblock custom_js %}
