{% extends 'base.html' %}

{% block title %}Lista de Boletas{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">Lista de Boletas</h2>

        {% if puede_crear %}
            <form action="{% url 'boleta_crear' %}">
                <button type="submit" class="btn btn-primary mb-3">
                    <i class="fas fa-plus"></i> Crear Boleta
                </button>
            </form>
        {% endif %}

        <table class="table">
            <thead>
                <tr>
                    <th>Numero boleta</th>
                    <th>Tipo de Pago</th>
                    <th>Cliente</th>
                    <!-- Agrega más encabezados según tus campos de modelo Boleta -->
                    {% if puede_actualizar or puede_borrar %}
                        <th>Acciones</th>
                    {% endif %}
                    <th>Detalle</th> <!-- Nuevo encabezado para el botón de detalle -->
                </tr>
            </thead>
            <tbody>
                {% for boleta in object_list %}
                    <tr>
                        <td>{{ boleta.id }}</td>
                        <td>{{ boleta.tipo_de_pago }}</td>
                        <td>{{ boleta.cliente }}</td>
                        <!-- Agrega más campos según tus campos de modelo Boleta -->
                        {% if puede_actualizar or puede_borrar %}
                            <td>
                                {% if puede_actualizar %}
                                    <form action="{% url 'boleta_actualizar' pk=boleta.id %}">
                                        <button type="submit" class="btn btn-warning btn-sm">
                                            <i class="fas fa-pen-to-square"></i> Actualizar
                                        </button>
                                    </form>
                                {% endif %}
                                {% if puede_borrar %}
                                    <form action="{% url 'boleta_borrar' pk=boleta.id %}">
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i> Borrar
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        {% endif %}
                        <!-- Nuevo botón de detalle -->
                        <td>
                            <a href="{% url 'boleta_detalle' pk=boleta.id %}" class="btn btn-info btn-sm">
                                <i class="fas fa-eye"></i> Detalle
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
